body{
    background-color: #0F172A;
}
.navbar{
    background-color: #111827;
}
.nav-title, .card-title, h1, h5, p{
    color: #F8FAFC;
}

.btn{
    color: #CBD5E1;
    text-align: start;
}
.container-inicio{
    background-color: #111827;
}
.card{
    background-color: #1E293B;
}
